<!DOCTYPE html>
<html>
 
<head>
    <title>Login and Register Test</title>
</head>
 
<body>
    <h2>Home Page</h2>
    <h5>Your are now login and you can see your <A HREF="profile">profile</a> here!!.</h5>
 
</body>
 
</html>
